.wrapper {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: #f2f5f7;
  overflow: scroll;
}

.main {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 420px;
  background-color: white;
  overflow: scroll;
}